<div class="content">
    <!--<fsr-webapp-modal-contact>
    </fsr-webapp-modal-contact>-->
    <div class="nav-content">
        <div class="group-wrapper">
            <img class="group-avatar" src="https://ui-avatars.com/api/?background={{randomColor}}&color=fff&name=R+d" alt="Groupe">
            <div class="wrapper-title">
                <a href="" class="group-link">
                    <span class="title-group">+33 56 45 78 89</span>
                </a>
                <a class="text">
                    <span class="text-group">+33 56 45 78 89 : hello tiziano, i want to discus anyway because you are good.</span>
                </a>
            </div>
        </div>
    </div>
    <div class="contacts-group-grid">
        <!-- <app-card-contact></app-card-contact> -->
    </div>
</div>