<li class="contact">
    <img class="avatar" src="https://ui-avatars.com/api/?background={{randomColor}}&color=fff&name={{contact.firstName}}+{{contact.firstName}}" alt="Contact">
    <div class="wrapper-title">
        <a href="#" class="contact-link">
            <span class="title-contact">{{contact.firstName}} - {{contact.address.rue}}, {{contact.address.ville}} {{contact.address.departement}} - {{contact.address.pays}}</span>

        </a>
        <select name="group">
            <option *ngFor="let g of contact.phones" value={{g.num}}>{{g.num}}</option>
        </select>
     </div>
</li>
<div class="divider"></div> 