<aside class="sidebar">
    <div class="profil-icon">
        <a id="profil" class="menu">
            <img class="profil-icon icon" src="https://ui-avatars.com/api/?rounded=true" alt="Profil">
        </a>
    </div>

    <div class="nav">
        <nav>
            <ul>
                <a id="groups" class="menu">
                    <img class="group-icon" src="/assets/icons/svg/group.svg" alt="Groups">
                </a>
                <a routerLink="/contacts"  id="contacts" class="menu">
                    <img class="contact-icon" src="/assets/icons/svg/contact.svg" alt="Contacts">
                </a>
            </ul>
        </nav>
        <div class="upper-sidebar">
        </div>
    </div>

    <!-- <div id="sidebar-contacts" class="wrapper-nav"> -->
        <!-- <app-contacts/> -->
    <!-- </div> -->

    <!-- <div id="sidebar-profil" class="wrapper-nav"> -->
        <!-- <app-profil/> -->
    <!-- </div> -->

    <div id="sidebar-groups" class="wrapper-nav">
        <app-groups/>
    </div>
</aside>