<aside class="sidebar">

    <div class="profil-icon">
        <a id="profil" class="menu" (click)="toggle('profil')">
            <img class="profil-icon icon" src="https://ui-avatars.com/api/?rounded=true" alt="Profil">
        </a>
    </div>

    <div class="nav">
        <nav>
            <ul>
                <a id="groups" class="menu" (click)="toggle('groups')">
                    <img class="group-icon" src="/assets/icons/svg/group.svg" alt="Groups">
                </a>
                <a id="contacts" class="menu" (click)="toggle('contacts')">
                    <img class="contact-icon" src="/assets/icons/svg/contact.svg" alt="Contacts">
                </a>
            </ul>
        </nav>
        <div class="upper-sidebar">
        </div>
    </div>

    <div id="sidebar-contacts" class="wrapper-nav" *ngIf="contacts">
        <app-contacts>
        </app-contacts>
    </div>

    <div id="sidebar-profil" class="wrapper-nav" *ngIf="profil">
        <app-profil>
        </app-profil>
    </div>

    <div id="sidebar-groups" class="wrapper-nav" *ngIf="groups">
        <app-groups>
        </app-groups>
    </div>
</aside>